.nav {
  display: flex;
  background-color: #333;
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: bold;
  align-items: center;
}

.nav div {
  color: white;
  margin: 0 10px;
}

.logo {
  margin: 10px;
}
